@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 30 20% 94.7%;
    --foreground: 20 20% 20%;
    --card: 40 33% 99%;
    --card-foreground: 20 20% 20%;
    --popover: 40 33% 97%;
    --popover-foreground: 20 20% 20%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 98%;
    --secondary: 30 5% 95%;
    --secondary-foreground: 20 20% 20%;
    --muted: 30 5% 95%;
    --muted-foreground: 20 20% 45%;
    --accent: 30 5% 92%;
    --accent-foreground: 20 20% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 5% 85%;
    --input: 30 5% 90%;
    --ring: 0 0% 0%;
    --chart-1: 0 0% 0%;
    --chart-2: 0 0% 40%;
    --chart-3: 0 0% 20%;
    --chart-4: 0 0% 60%;
    --chart-5: 0 0% 80%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
